<nav class="navigation style7 style1">
		<div class="container pl-0 pr-0">
			<div class="nav-content">
				<ul>
					<li><a href="#" class="nav-content-bttn" data-tab="friends"><i class="ti-view-grid"></i></a></li>
					<li><a href="blog.html" class="nav-content-bttn" data-tab="chats"><i class="ti-comments"></i></a></li>
					<li><a href="shop-home.html" class="nav-content-bttn nav-center" data-tab="favorites"><i class="ti-plus"></i></a></li>
					<li><a href="orders.html" class="nav-content-bttn" data-tab="favorites"><i class="ti-package"></i></a></li>
					<li><a href="components.html" data-tab="archived" class="nav-content-bttn "><i class="ti-user"></i></a></li>						
				</ul>
			</div>
		</div>
	</nav>
